.cross {
  background: #333;
  height: 40px;
  position: relative;
  width: 5px;
}
.cross:after {
  background: #333;
  content: '';
  height: 5px;
  left: -17.5px;
  position: absolute;
  top: 17.5px;
  width: 40px;  
}
.cross:hover{
  background:#e74c3c;
}
.cross:hover:after {
  background:#e74c3c;
}
.contenedorTableDiv {
    top: 10%;
    display: table;
    border: 2px solid #000;
    width: 200px;
    text-align: center;
    margin: 2px;
  	float: left;
}
.contenidos {
    display: table-row;
}
.columna {
    display: table-cell;
    border: 0px solid #000;
    vertical-align: middle;
    padding: 10px;
}

body {
  text-align: center;
  margin: 2em 0 0 0;
  padding: 0;
}

div {
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-block;
  border-radius: 50%;
}

a:hover .center, a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.25em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.25em solid #e74c3c;
  border-right: 0.25em solid #e74c3c;
}

a:hover .center:after {
  border-top: 0.25em solid #e74c3c;
  border-right: 0.25em solid #e74c3c;
  border-bottom: 0.25em solid #e74c3c;
  border-left: 0.25em solid #e74c3c;  
}

.left {
  display: inline-block;
  //background-color: blue;
  width: 2em;
  height: 2em;
  border: 0.25em solid #333;
  border-radius: 50%;
  margin-right: 1.5em;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 0.5em;
  margin-left: 0.3em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid #333;
  border-right: 0.25em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.center {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid #333;
  border-radius: 50%;
}

.center:after {
  content: '';
  display: inline-block;
  margin-top: 0.35em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid #333;
  border-right: 0.25em solid #333;
  border-bottom: 0.25em solid #333;
  border-left: 0.25em solid #333;
}

.top {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid #333;
  border-radius: 50%;
  margin-right: 0.37em;
}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 0.7em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid #333;
  border-right: 0.25em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid #333;
  border-radius: 50%;
  margin-left: 0.37em;
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.3em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid #333;
  border-right: 0.25em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.right {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.right:after {
  content: '';
  display: inline-block;
  margin-top: 0.52em;
  margin-left: -0.3em;
  width: 0.7em;
  height: 0.7em;
  border-top: 0.25em solid #333;
  border-right: 0.25em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}