{% load static %}
<html>
    <head>
        <script type='application/javascript' src='{% static "js/jquery-3.2.1.min.js" %}'></script>
        <script type='application/javascript' src='{% static "js/underscore-min.js" %}'></script>
        <script type='application/javascript' src='{% static "js/backbone-min.js" %}'></script>
        <script type='application/javascript' src='{% static "js/joystick_view.js" %}'></script>
        <script type='application/javascript' src='http://{{ request.get_host }}/rover/js/joystickCmd.js'></script>
    </head>
    <body>

    <script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
    </canvas>
    </script>
    <div id="joystickContent">JOYSTICK_TYPE :: {{ joystickType }}
    </div>
    <div>
        x: <span id="xVal"></span><br/>
        y: <span id="yVal"></span><br/>
    </div>

    <script type="text/javascript">
		// Estos de abajo pasan por params
    	JOYSTICK_SERVO_STOP = '{{ SERVO_STOP }}';
    	JOYSTICK_SERVO_ACTION_CONTINUOUS = '{{ SERVO_ACTION_CONTINUOUS }}';
    	JOYSTICK_SERVO_TYPE = '{{ SERVO_TYPE_SG90 }}';
    	JOYSTICK_SERVO_DIRECTION_ALL = '{{ SERVO_DIRECTION_ALL }}';
    	JOYSTICK_SERVO_DIRECTION_VERTICAL = '{{ SERVO_DIRECTION_VERTICAL }}';
    	JOYSTICK_SERVO_DIRECTION_HORIZONTAL = '{{ SERVO_DIRECTION_HORIZONTAL }}';
    	JOYSTICK_SERVO_COUNTER_CLOCKWISE = '{{ SERVO_COUNTER_CLOCKWISE }}';
    	JOYSTICK_SERVO_CLOCKWISE = '{{ SERVO_CLOCKWISE }}';    	
    	
    	JOYSTICK_ROVER_BODY_MOVE_TYPE_FORWARD = '{{ ROVER_BODY_MOVE_TYPE_FORWARD }}';
    	JOYSTICK_ROVER_BODY_MOVE_TYPE_LEFT = '{{ ROVER_BODY_MOVE_TYPE_LEFT }}';
    	JOYSTICK_ROVER_BODY_MOVE_TYPE_RIGHT = '{{ ROVER_BODY_MOVE_TYPE_RIGHT }}';
    	JOYSTICK_ROVER_BODY_MOVE_TYPE_BACK = '{{ ROVER_BODY_MOVE_TYPE_BACK }}';
    	JOYSTICK_ROVER_STOP = '{{ ROVER_STOP }}';
    	JOYSTICK_ROVER_TYPE = '{{ ROVER_TYPE_2WD }}';
    	JOYSTICK_ROVER_MOVE_MANUAL_BODY = '{{ ROVER_MOVE_MANUAL_BODY }}'
    	
    	JOYSTICK_TYPE = '{{ joystickType }}';
    	JOYSTICK_TYPE_MOTOR = '{{ TYPE_MOTOR }}';
    	JOYSTICK_TYPE_SERVO = '{{ TYPE_SERVO }}';
    	JOYSTICK_POS_POSITIVE = "POS";
    	JOYSTICK_POS_NEGATIVE = "NEG";
    	JOYSTICK_POS_ZERO = "ZER";
    	JOYSTICK_DECIMALS = 2;
    	JOYSTICK_RANGO_TOLERANCIA = parseFloat(0.30);
    	JOYSTICK_PENDIENTE = parseFloat(1.00);
    	
    	var YAI_JOYSTICK_ACTIVE = true;
    	var YAI_JOYSTICK_INACTIVE = false;
    	
    	
    	function YaiJoystick() {
    		  this.x = 0;
    		  this.y = 0;
    		  this.state = YAI_JOYSTICK_INACTIVE;
    		  this.position = null;
    	}

    	YaiJoystick.prototype.getPosition = function(){
    		if (( Math.abs(this.x) < JOYSTICK_RANGO_TOLERANCIA ) && (Math.abs(this.y) < JOYSTICK_RANGO_TOLERANCIA)){
    			this.position = JOYSTICK_POS_ZERO;
    			return this.position;
    		}
    		// Primer Cuadrante
    		if(this.x > 0 && this.y > 0){
    			py = JOYSTICK_PENDIENTE * this.x;
    			if (this.y >= py){
    				this.position = "P2";
    			}else{
    				this.position = "P1";
    			}
    		}
    		// Segundo Cuadrante
    		if(this.x < 0 && this.y > 0){
    			py = -1 * JOYSTICK_PENDIENTE * this.x;
    			if (this.y >= py){
    				this.position = "P3";
    			}else{
    				this.position = "P4";
    			}    			
    		}
    		// Tercer Cuadrante
    		if(this.x < 0 && this.y < 0){
    			py = JOYSTICK_PENDIENTE * this.x;
    			if (this.y >= py){
    				this.position = "P5";
    			}else{
    				this.position = "P6";
    			}    			
    		}    	
      		// Cuarto Cuadrante
    		if(this.x > 0 && this.y < 0){
    			py = -1 * JOYSTICK_PENDIENTE * this.x;
    			if (this.y >= py){
    				this.position = "P8";
    			}else{
    				this.position = "P7";
    			}    			
    		}      		
    		return this.position;
    	}
    	
    	YaiJoystick.prototype.sendCmd = function(yaiCmd) {
    		yaiCmd.p1 = yaiCmd.p1 || 'None'; 
    		yaiCmd.p2 = yaiCmd.p2 || 'None'; 
    		yaiCmd.p3 = yaiCmd.p3 || 'None'; 
    		yaiCmd.p4 = yaiCmd.p4 || 'None'; 
    		yaiCmd.p5 = yaiCmd.p5 || 'None'; 
    		yaiCmd.p6 = yaiCmd.p6 || 'None'; 
    		yaiCmd.p7 = yaiCmd.p7 || 'None';
    		
    		
    		if( this.state == YAI_JOYSTICK_ACTIVE ){
        		console.log("JOYSTICK ["+JOYSTICK_TYPE+"] CMD: " + yaiCmd.cmd + ", p1:" + yaiCmd.p1 + ", p2:" + yaiCmd.p2 + ", p3:" + yaiCmd.p3 
        				+ ", p4:" + yaiCmd.p4 + ", p5:" + yaiCmd.p5 + ", p6:" + yaiCmd.p6 + ", p7:" + yaiCmd.p7); 	
        		
        		actCmd(yaiCmd.cmd, yaiCmd.p1, yaiCmd.p2, yaiCmd.p3, yaiCmd.p4, yaiCmd.p5, yaiCmd.p6, yaiCmd.p7);
        		
        		//actCmd(JOYSTICK_SERVO_STOP, JOYSTICK_SERVO_TYPE, 0, JOYSTICK_SERVO_DIRECTION_ALL);
        		//actCmd('{{ SERVO_ACTION_CONTINUOUS }}', '{{ SERVO_TYPE_SG90 }}', 0, '{{ SERVO_DIRECTION_VERTICAL }}', '{{ SERVO_COUNTER_CLOCKWISE }}', 5)
        		//actionStop('{{ ROVER_TYPE_2WD }}')
        		//       -->      actCmd(ROVER_STOP, ROVER_TYPE_2WD, 0)
        		
        		//actionMove('{{ ROVER_BODY_MOVE_TYPE_FORWARD }}', '{{ ROVER_TYPE_2WD }}')
        		//       -->      actCmd(ROVER_MOVE_MANUAL_BODY, ROVER_TYPE_2WD, 0, 0, ROVER_BODY_MOVE_TYPE_FORWARD)
    		}
	  	};
	  	
    	YaiJoystick.prototype.setX = function(xIn) {
    		$("#xVal").html(xIn);
    		this.x = parseFloat(xIn).toFixed(JOYSTICK_DECIMALS);
    		this.setServoDirection();
	  	};

    	YaiJoystick.prototype.setY = function(yIn) {
    		$("#yVal").html(yIn);
    		this.y = parseFloat(yIn).toFixed(JOYSTICK_DECIMALS);
    		this.setServoDirection();
  	  	};	 
  	  	
    	YaiJoystick.prototype.setServoDirection = function() { 		
    		this.state = YAI_JOYSTICK_INACTIVE;
    		var cmds = [];
    		var actualPosition = this.position;
    		this.position = this.getPosition();
    		
    		if (this.position == JOYSTICK_POS_ZERO){
    			if (JOYSTICK_TYPE_SERVO == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_SERVO_STOP, "p1": JOYSTICK_SERVO_TYPE, "p2": 0, "p3" : JOYSTICK_SERVO_DIRECTION_ALL});	    				
    			}
    			if (JOYSTICK_TYPE_MOTOR == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_ROVER_STOP, "p1": JOYSTICK_ROVER_TYPE, "p2": 0});	    				
    			}    			
    		}    	
    		
    		if( this.position == "P1" || this.position == "P8") {
    			this.positionY = JOYSTICK_POS_POSITIVE;
    			if (JOYSTICK_TYPE_SERVO == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_SERVO_ACTION_CONTINUOUS, "p1": JOYSTICK_SERVO_TYPE, "p2" : 0, 
    					"p3" : JOYSTICK_SERVO_DIRECTION_HORIZONTAL, "p4" : JOYSTICK_SERVO_COUNTER_CLOCKWISE, "p5" : 5});
    			}    
    			if (JOYSTICK_TYPE_MOTOR == JOYSTICK_TYPE ){
    				cmds.push({"cmd" : JOYSTICK_ROVER_MOVE_MANUAL_BODY, "p1": JOYSTICK_ROVER_TYPE, "p2" : 0, 
    					"p3" : 0, "p4" : 0, "p5" : JOYSTICK_ROVER_BODY_MOVE_TYPE_RIGHT});  
    			}
    		}
    		
    		if( this.position == "P2" || this.position == "P3") {
    			this.positionY = JOYSTICK_POS_POSITIVE;
    			if (JOYSTICK_TYPE_SERVO == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_SERVO_ACTION_CONTINUOUS, "p1": JOYSTICK_SERVO_TYPE, "p2" : 0, 
    					"p3" : JOYSTICK_SERVO_DIRECTION_VERTICAL, "p4" : JOYSTICK_SERVO_COUNTER_CLOCKWISE, "p5" : 5});
    			}    
    			if (JOYSTICK_TYPE_MOTOR == JOYSTICK_TYPE ){
    				cmds.push({"cmd" : JOYSTICK_ROVER_MOVE_MANUAL_BODY, "p1": JOYSTICK_ROVER_TYPE, "p2" : 0, 
    					"p3" : 0, "p4" : 0, "p5" : JOYSTICK_ROVER_BODY_MOVE_TYPE_FORWARD});  
    			}
    		}    		
    		
    		if( this.position == "P4" || this.position == "P5") {
    			if (JOYSTICK_TYPE_SERVO == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_SERVO_ACTION_CONTINUOUS, "p1": JOYSTICK_SERVO_TYPE, "p2" : 0, 
    					"p3" : JOYSTICK_SERVO_DIRECTION_HORIZONTAL, "p4" : JOYSTICK_SERVO_CLOCKWISE, "p5" : 5});
    			}    
    			if (JOYSTICK_TYPE_MOTOR == JOYSTICK_TYPE ){
    				cmds.push({"cmd" : JOYSTICK_ROVER_MOVE_MANUAL_BODY, "p1": JOYSTICK_ROVER_TYPE, "p2" : 0, 
    					"p3" : 0, "p4" : 0, "p5" : JOYSTICK_ROVER_BODY_MOVE_TYPE_LEFT});  
    			}
    		} 
    		
    		if( this.position == "P6" || this.position == "P7") {
    			if (JOYSTICK_TYPE_SERVO == JOYSTICK_TYPE){
    				cmds.push({"cmd" : JOYSTICK_SERVO_ACTION_CONTINUOUS, "p1": JOYSTICK_SERVO_TYPE, "p2" : 0, 
    					"p3" : JOYSTICK_SERVO_DIRECTION_VERTICAL, "p4" : JOYSTICK_SERVO_CLOCKWISE, "p5" : 5});
    			}    
    			if (JOYSTICK_TYPE_MOTOR == JOYSTICK_TYPE ){
    				cmds.push({"cmd" : JOYSTICK_ROVER_MOVE_MANUAL_BODY, "p1": JOYSTICK_ROVER_TYPE, "p2" : 0, 
    					"p3" : 0, "p4" : 0, "p5" : JOYSTICK_ROVER_BODY_MOVE_TYPE_BACK});  
    			}
    		} 
    		    		
    		if(actualPosition != this.position){
    			this.state = YAI_JOYSTICK_ACTIVE;
    			console.log("(x=" + this.x +", y="+ this.y + ")");
        		for (index = 0; index < cmds.length; ++index) {          		  	
        		    this.sendCmd(cmds[index]);   
        		}    			
    		}    	
  	  	};
  	  	
  	  	var yaiJoystick = new YaiJoystick();
	  	
        $(document).ready(function(){
            var joystickView = new JoystickView(150, function(callbackView){
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("endMove", function(){
            	//console.log("JOYSTICK_STOP");
            	yaiJoystick.setX(0);
            	yaiJoystick.setY(0);
                //actCmd(JOYSTICK_SERVO_STOP, JOYSTICK_SERVO_TYPE, 0, JOYSTICK_SERVO_DIRECTION_ALL);                         
            });            
            joystickView.bind("verticalMove", function(y){
                yaiJoystick.setY(y);
                
            });
            joystickView.bind("horizontalMove", function(x){
            	yaiJoystick.setX(x);
            });
        });
    </script>
    </body>
</html>
